{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="container py-5">

<div class="row justify-content-center">

<div class="col-lg-8">

<div class="card shadow border-0">

<div class="card-body">

<h3 class="mb-4">

{{ title }}

</h3>

<form method="post">

{% csrf_token %}

{{ form.as_p }}

<button class="btn btn-dark">

Save Address

</button>

<a href="{% url 'address_list' %}"
class="btn btn-outline-secondary">

Cancel

</a>

</form>

</div>

</div>

</div>

</div>

</div>

{% endblock %}