# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
.python-packages/

# Environment variables (IMPORTANT)
.env

# Django database & logs
db.sqlite3
*.log

# Media & static files
media/
staticfiles/

# Coverage/test reports
.coverage
htmlcov/

# Node (if frontend exists)
node_modules/
.pnpm-store/
private_media/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Mobile projects - kept separately
mobile_app/
mobile_api/
.ui_review.sqlite3
