{% extends 'base.html' %}
{% block title %}Home | Z I Y A M A R T{% endblock %}

{% block content %}

<!-- SHOP BY CATEGORY -->

<section class="mb-5">

    <h2 class="section-title text-center mb-4">
        Shop what you need
    </h2>

    <div class="row g-4">

        {% for category in categories %}

        <div class="col-12 col-md-4">

            <a href="{% url 'category_page' category.id %}"
               class="text-decoration-none">

                <div
                    class="category-card"

                    {% if category.background_image %}
                        style="background-image:url('{{ category.background_image.url }}')"
                    {% elif category.image %}
                        style="background-image:url('{{ category.image.url }}')"
                    {% elif category.slug == "men-clothing" %}
                        style="background-image:url('/static/images/categories/mens.png')"
                    {% elif category.slug == "women-clothing" %}
                        style="background-image:url('/static/images/categories/womens.png')"
                    {% elif category.slug == "kids-clothing" %}
                        style="background-image:url('/static/images/categories/kids.png')"
                    {% else %}
                        style="background:#222;"
                    {% endif %}

                >

                    <div class="category-overlay">

                        <h3>{{ category.name }}</h3>

                        <p>Explore Collection</p>

                    </div>

                </div>

            </a>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}
